@mixin button{
  padding: 10px 20px;
  border-radius: 10px;
}
@mixin section-button{
  padding: 10px 30px;
  border-radius: 10px;
}
* {
  text-decoration: none;
  list-style: none;
}

.header {
  margin: 2vh 0 0 4vh;
}

.header__nav {
  display: flex;
  position: static;
  align-items: center;
  font-family: Abeezee;
  justify-content: space-between;
  width: 100%;
}

.header__nav-div {
  align-items: center;
  justify-content: flex-end;
  margin-left: 25px;

  ul{
    display: flex;
    align-items: center;
    margin-left: 0;
    justify-self: flex-start;
    gap: 20px;
  }
}

.nav-list-item {
  display: flex;
  position: relative;
  align-items: center;
  transition-duration: var(--transition);

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 2;
    width: 0;
    height: 2px;
    background-color: var(--color-hover);
    transition-duration: var(--transition);
  }

  &:hover::after {
    width: 100%;
  }

  a {
    color: var(--color-dark) !important;
  }

  a:hover {
    color: var(--color-hover) !important;
  }
}

.nav-brand {
  display: inline-flex;
  border-right: 0.5px solid #afaeae;
  align-items: center;
  width: 200px;
  gap: 8px;
}

.nav-brand-img {
  max-width: 30px;
  height: auto;
}

.brand-text {
  color: var(--color-dark);
  text-align: center;
  font-size: 35px;
}

.nav-buttons > ul {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: 4vh;

  a {
    color: var(--color-dark);
  }
}

.nav-buttons {
  margin-right: 6vh;
}

.button-list-item {
  display: flex;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 2;
    width: 0;
    height: 2px;
    background-color: var(--color-hover);
    transition-duration: var(--transition);
  }

  &:hover::after {
    width: 100%;
  }

  a:hover {
    color: var(--color-hover);
  }
}

.nav-button1 {
  @include button;
  font-weight: 400;
  background: linear-gradient(
    80deg,
    var(--color-lenear1),
    var(--color-lenear2)
  );
  border: none;

  &:hover {
    box-shadow: 0 0 15px 5px var(--color-nav);
    transition-duration: var(--transition);
  }

  a {
    font-family: Abeezee, Bold;
    color: var(--color-white) !important;
  }
}

.nav-button2 {
  @include button;
  font-weight: bold;
  border: none;
  background: linear-gradient(
    100deg,
    rgb(78 78 237 / 12%),
    rgb(51 51 220 / 12%)
  );

  &:hover {
    box-shadow: 0 0 20px 5px var(--color-hover);
    transition-duration: var(--transition);
  }

  a {
    color: var(--color-nav-button-text) !important;
  }
}

.nav-buttons-text {
  color: var(--color-nav) !important;
}

.section-info {
  display: flex;
  font-family: Abeezee;
  height: calc(101vh - 52px);
  align-items: center;
  font-size: 35px;
  justify-content: space-around;
}

.section__info {
  display: inline-block;
  width: 40%;
  height: 40%;
  padding-left: 5%;

  h1 {
    font-weight: 550;
  }
}

.info__text {
  hyphens: none;
  text-align: start;
}

.light {
  color: var(--color-lenear1);
}

.section__img {
  display: flex;
  text-align: start;
  justify-content: flex-start;

  & > img {
    height: 870px;
    max-width: 950px;
  }
}

.info-button {
  @include section-button;
  display: flex;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border: none;
  margin-top: 30px;
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--color-lenear1),
    var(--color-lenear2)
  );
  transition-duration: var(--transition);

  &:hover {
    transition-duration: var(--transition);
    box-shadow: 0 0 15px 5px var(--color-nav);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.footer__div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 93%;
}

.footer__logos {
  display: flex;
  align-items: center;
}

.footer__logo {
  display: flex;

  & > a {
    display: flex;
    align-items: center;
    font-family: Abeezee;
    color: var(--color-dark);
    font-size: 35px;
  }
}

.footer__text {
  display: flex;
  font-family: Inter;
  margin-top: 40px;
  color: var(--color-footer);
}

.footer-end-text {
  display: flex;
  margin-left: 6.4%;
  padding: 6vh 0vh 6vh 0vh;
}

.footer__icons {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  gap: 10px;
}

.footer__lists {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  gap: 6%;

  ul {
    font-family: Inter;
    color: var(--color-footer);
  }

  li {
    line-height: 2.1;
  }

  h3 {
    text-align: left;
  }

  a {
    display: flex;
    font-family: Abeezee;
    color: var(--color-dark);
  }
}

.section-programm {
  background:
    image-set(
        url('/public/icon/Mask group.png') type('image/png'),
        url('/public/icon/Mask group2x.png') 2x type('image/png'),
        url('/public/icon/Mask group3x.png') 3x type('image/png')
      ) no-repeat 100% center,
      var(--linear-grad);
  background-size: cover;
  height: 101vh;
}

.programm__div {
  padding-top: 13vh;
  align-items: center;
  text-align: center;

  & > p {
    font-family: Abeezee;
    color: var(--color-white);
  }
}

.section-programm-text {
  margin-top: 2vh;
  color: var(--color-white);
  font-family: Abeezee;
  font-size: 46px;
}

.programm-p {
  letter-spacing: 2px;
  text-align: center;
  font-size: 12px;
}

.programm-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2vh;
}

.programm-text {
  line-height: 2;
  color: var(--color-white);
  font-family: Abeezee;
  width: 52%;
}

.span-text {
  text-align: center;
  margin-top: 4vh;
  width: 58%;
  color: var(--color-white);
  font-family: Abeezee;
}
.main-article{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 65vh;
  background: url('/public/icon/Redesigned, how you.png') no-repeat;
  background-size: 55%;
  background-position: center;
}
.article-text{
  max-width: 40%;
  line-height: 2.5;
  font-family: Abeezee;
  color: var(--color-article1);
}
.article-light{
  color: var(--color-article2);
}
.bottom-text{
  margin-top: 4vh;
}